<h1>Scrabble Club Members</h1>
<h4><a href="/leaderboard">Click here for leaderboard</a></h4>
<h4><a href="/games">Click here for games</a></h4>
<table>
  <tr>
    <th>Name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>Postcode</th>
    <th>Joindate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.address1 %></td>
    <td><%= member.address2 %></td>
    <td><%= member.city %></td>
    <td><%= member.postcode%></td>
    <td><%= member.joindate.strftime("%d %b %Y") %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
